@import url("https://use.typekit.net/enh7tnd.css");

/* BRAND COLORS:
*
* LAVA: E13200
* MIDNIGHT: 000110
* INDIGO: 002A4E
* MOONROCK: D1D3D4
* MOONROCK DARK: A3A7A8
* SAND: F2E8C9
* SLATE: 405C7D
* WAVE: 758FAB
* SKY: B0CCD9
*
*/

html {
	font-size: 16px;
}

* {
	font-family: "ff-good-headline-web-pro";
}

.widewrapper.main {
	background: #f8f8f8;
	padding-top: 32px;
}

/*--------*/
/* HEADER */
/*--------*/
header {
	min-height: 84px;
}

header #logo > img {
	max-width: 130px;
}

header > .widewrapper {
	height: 100%;
	padding: 0;
	background: #f8f8f8 !important;
	border-bottom: 1px solid #ddd;
}

header .container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	background: #f8f8f8;
}

header .zt_title {
	margin-left: auto;
	font-size: 1.5rem;
	font-weight: 600;
	color: #002A4E;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*----------------*/
/* PANELS HEADING */
/*----------------*/
.panel {
	border-radius: 0;
	border: 0;
}
.panel-heading.panels-node-title {
	padding: 15px;
	border-radius: 0;
	border-color: #ddd;
	background: white;
	color: #e13200;
}

.panel-heading.panels-node-title > .panel-title {
	font-size: 1.5rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*----------------*/
/* PANELS CONTENT */
/*----------------*/
.zingtree-node .panel-body.panels-node-content .content-only:empty {
	display: none;
}

/*------------*/
/* BREADCRUMB */
/*------------*/
.breadcrumb  {
	background: transparent;
	margin: 0;
	padding: 0;
	line-height: 48px;
	border-radius: 48px;
}

.breadcrumb a {
	padding: 0;
	font-family: "ff-good-headline-web-pro";
	color: #666;
}

.breadcrumb a:hover {
	color: #758FAB;
	text-decoration: none;
}

.breadcrumb > li {
	color: #666;
}

.breadcrumb > li+li:before {
	content: ">";
	color: #666;
}

.breadcrumb > li:last-child {
	font-weight: 600;
	font-family: "ff-good-headline-web-pro";
	color: #002A4E;
}
